.span-2
  %h4
    %a{ :href => "#" } 所有话题
.span-2
  %h4
    %a{ :href => "#" } 家园百科
.span-2
  %h4
    %a{ :href => "#" } 家园集市
.span-2.append-16.last
  %h4
    %a{ :href => "#" } 以车会友
%hr
.span-18.border
  .post-list
    .post-item
      .span-3
        .span-1
          2
          %br
          投票
        .span-1
          3
          %br
          评论
        .span-1.last
          3
          %br
          查看
      .span-15.last
        .span-15
          %a{ :href => "/posts/12345" }
            %label.post-title 证大家园附近哪里有修自行车的地方？
        .span-15
          .span-2
            %a{ :href => "#" } @家园百科
        .span-15
          %a{ :href => "#" } 证大的大郑
          发表于 2011.07.23
    %hr.space
    .post-item
      .span-3
        .span-1
          2
          %br
          投票
        .span-1
          5
          %br
          评论
        .span-1.last
          10
          %br
          查看
      .span-15.last
        .span-15
          %a{ :href => "#" }
            %label.post-title 听说原来的之村秀又开了家新店，谁知道新店的电址在什么地方，另外原来的会员卡还能用吗？
        .span-15
          .span-2
            %a{ :href => "#" } @家园生活
        .span-15
          %a{ :href => "#" } 证大的小朱
          发表于 2011.07.22
.span-6.last
  标签列表
